---
title: Resources
---
Can a Machine Think - General Body Meeting 3/10/2021 <br/>
{% include button.html text="Google Slides" link="https://docs.google.com/presentation/d/1t4d2-dneKOJwG2JGj_OOFak0-8EZ0ko6pBRhcZXzfvo/edit?usp=sharing" %}  <br/>
  

Pitch Representation in Neural Nets - General Body Meeting 2/10/2021 <br/>
{% include button.html text="Google Slides" link="https://docs.google.com/presentation/d/1_LaHzit97DY_Ed7Kbi9Rp3cBm7ED7lKa8cwpv3ipVRc/edit?usp=sharing" %}

Test link for fall21: [a link](https://ucf-csc.netlify.app/fall21/)
